    <div class="login-content">

        <!-- <div class="night-switch">
            <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div> -->
       <div class="login-content-left col-6" >
        <div class="login-content-left-main">
           
            <div class="login-title">
                <div class="logo">
                    <img src="../../assets/layout/images/logo.png" alt="">
                </div>
                <h2>Đổi mật khẩu</h2>
                <p class="login-title-sub mb-4">
                    Điền đầy đủ các thông tin bên dưới để thay đổi mật khẩu của bạn!
                </p>
            </div>
            <form action="">
                <div class="login-form">
                    <div class="login-input-wrapper mb-1">
                        <label for="newPass" class="phone_login">Mật khẩu mới</label>
                        <input new-password id="newPass" (blur)="getValue($event)"  #newPass type="password" placeholder="Nhập mật khẩu mới" />
                    </div>
                   <div *ngIf="!checkPass">
                    <div class="pass-noti">
                        <p>Mật khẩu của bạn chưa đạt yêu cầu, hãy nhập lại</p>
                    </div>
                    <div>
                        <div class="passCondition">
                            <i class="pi pi-check-circle"></i>
                            <p>Có ít nhất một chữ viết hoa</p>               
                        </div>
                        <div class="passCondition">
                            <i class="pi pi-check-circle"></i>
                            <p>Bao gồm cả chữ và số</p>
                        </div>
                        <div class="passCondition">
                            <i class="pi pi-check-circle"></i>
                            <p>Độ dài từ 8 ký tự trở lên</p>               
                        </div>
                    </div>
                   </div>
    
                    <div class="login-input-wrapper mt-4">
                        <label for="rePass" class="pass_login">Nhập lại mật khẩu</label>
                        <input new-password type="password" id="rePass" required  pPassword  placeholder="Nhập mật khẩu mới"/>
                    </div>
                    <div class="login-handle">
                        <div class="remember-and-forgetPass">
                        <input type="checkbox">
                        <p class="remember_pass">Tôi đã đọc, hiểu rõ và đồng ý với<span style="text-decoration:underline;margin-left: 3px;cursor: pointer;"> điều kiện, điều khoản của EPIC</span></p>
                        </div>
                    </div>
    
                    <div class="buttons">
                        <button class="login-button mb-2" pButton type="button" (click)="checkButton()"  label="Tiếp tục"></button>
                </div> 
            </div>
            </form>
            
            <div class="no-copy-right-center">
                <p class="no-copy-right">
                    Bản quyền thuộc EPIC @2022
                </p>
            </div>
        </div>
       </div>
       <div class="login-content-right col-6" >
            <div class="ellipse-img">
                <img src="../../assets/layout/images/Ellipse 757.png" alt="">
            </div>
            <div class="ellipse-blur"></div>
       </div>
    </div>
