<div class="login-content">

   <div class="login-content-left col-6" >
    <div class="login-content-left-main">
       
        <div class="login-title">
            <div class="logo">
                <img src="../../assets/layout/images/logo.png" alt="">
            </div>
            <h2>Nhập mã xác thực OTP</h2>
            <p class="login-title-sub mb-4">
               Hãy nhập mã xác thực gồm 6 số được gửi đến : <span style="color:#000">+84 012 345 6789</span>

            </p>
        </div>
        <div class="login-form">
                <div class="otp-code">
                    <div class="otp-code-number">
                        <span class="otp-code-number-is">1</span>
                    </div>
                    <div class="otp-code-number">
                        <span class="otp-code-number-is">1</span>
                    </div>
                    <div class="otp-code-number">
                        <span class="otp-code-number-is">1</span>
                    </div>
                    <div class="otp-code-number">
                        <span class="otp-code-number-is">1</span>
                    </div>
                    <div class="otp-code-number">
                        <span class="otp-code-number-is">1</span>
                    </div>
                    <div class="otp-code-number">
                        <span class="otp-code-number-is">1</span>
                    </div>
                </div>
                <div class="login-handle">
                    <div class="remember-and-forgetPass">
                    <p class="remember_pass">Không nhận được mã OTP?<span style="text-decoration:underline;margin-left: 8px;cursor: pointer;color: #000;"> Gửi lại</span></p>
                    </div>
                </div>
                <p class="get-code-in-email mb-4">Nhận mã xác thực qua Email</p>
                <div class="buttons">
                    <button class="login-button mb-2" ><span class="button-text">Tiếp tục</span></button>
                        <button class="help-button" pButton type="button"  label="">
                            <i class="pi pi-question-circle question-icon"></i>
                            <span class="help-text">Cần hỗ trợ? Hotline 19001009</span>
                        </button>
                </div>
            
        </div>
        <div class="no-copy-right-center">
            <p class="no-copy-right">
                Bản quyền thuộc EPIC @2022
            </p>
        </div>
    </div>
   </div>
   <div class="login-content-right col-6" >
        <div class="ellipse-img">
            <img src="../../assets/layout/images/Ellipse 757.png" alt="">
        </div>
        <div class="ellipse-blur"></div>
   </div>
</div>
