<div class="grid ml-0 mr-0 mt-0">
    <div class="col-12">
        <div class="card">
            <h5>Danh sách thông báo </h5>
            <p-toast></p-toast>
            <p-table  
                [value]="rows" [loading]="isLoading" [rowHover]="true"
                [paginator]="false" responsiveLayout="scroll" dataKey="code" [scrollable]="true" scrollHeight="{{ (screenHeight*0.65) + 'px' }}"
                styleClass="custom-table">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row"> 
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Tìm kiếm..." [(ngModel)]="keyword"
                                style="min-width: 300px" (input)="setPage()"
                                (keyup)="changeKeyword()" />
                        </span>
                        <div class="">
                            <button pButton pRipple label="Thêm mới thông báo" icon="pi pi-plus" class="p-button-success mr-2"
                                *ngIf="isGranted([PermissionCoreConst.CoreQLTB_ThemMoi])"
                                (click)="create()"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="max-width: 5rem; min-width: 5rem; justify-content: center;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left" >Ảnh</th>
                        <th style="max-width: 10rem; min-width: 9rem;" pFrozenColumn alignFrozen="left">Loại thông báo</th>
                        <th style="max-width:25rem; min-width: 25rem;"> Tiêu đề</th> 
                        <th style="max-width: 18rem; min-width: 18rem;">Người tạo</th>
                        <th style="max-width: 8rem; min-width: 8rem;">Ngày tạo</th>
                        <th style="min-width: 35rem;">Nội dung </th>
                        <th style="max-width: 8.3rem; min-width: 8.3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right">Trạng thái </th>
                        <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true">
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row  let-rowIndex="rowIndex">
                    <tr>
                        <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left" >
                            <p-image *ngIf="row.mainImg" src="{{baseUrl}}/{{ row.mainImg }}" alt="Image" width="50"></p-image>
                        </td>
                        <td style="max-width: 10rem; min-width: 10rem;" pFrozenColumn alignFrozen="left">
                            {{row.type}}
                        </td>
                        <td style="max-width: 25rem; min-width: 25rem;"> {{ row.title }} </td>
                        <td style="max-width: 18rem; min-width: 18rem;"> {{ row.creatorName }} </td>
                        <td style="max-width: 8rem; min-width: 8rem;"> {{ row.createdAt | dateview }} </td>
                        <td style="min-width: 35rem;"> {{ row.description }} </td>
                        <td style="max-width: 8.3rem; min-width: 8.3rem; justify-content: center;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-border-frozen-right">
                            <p-tag 
                                styleClass="p-tag-{{ getStatusSeverity(row.status) }}" 
                                severity="{{ getStatusSeverity(row.status) }}"
                                value="{{ getStatusName(row.status) }}">
                            </p-tag>
                        </td>
                        <td style="max-width: 3rem; min-width: 3rem;" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-table-actions"> 
                            <div class="flex">
                                <i class="pi pi-ellipsis-h" (click)="menu.toggle($event); clickDropdown(row)">
                                </i>
                                <p-menu #menu [popup]="true" class="button-actions" [model]="listAction[rowIndex]" appendTo="body">
                                </p-menu>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7"> Đang tải dữ liệu ... </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator 
                [rows]="page.pageSize" 
                [totalRecords]="page.totalItems" 
                [rowsPerPageOptions]="[25, 50, 100, 200]" 
                currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng" 
                showCurrentPageReport="true"
                (onPageChange)="setPage($event)">
            </p-paginator>
        </div>
        <p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    </div>
</div>