<form [formGroup]="postForm" (ngSubmit)="onSubmit()">

    <div class="card">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label htmlFor="title">Tiêu đề kiến thức đầu tư</label>
                <input formControlName="title" pInputText id="title" type="text" [ngClass]="{
                        'ng-invalid ng-dirty': (postFormControl.title.touched) && postFormControl.title.errors?.required
                    }" />
            </div>
            <div class="field col-12 md:col-5">
                <label htmlFor="category">Danh mục</label>
                <p-dropdown formControlName="category" optionLabel="value" optionValue="key" [options]="categories" [ngClass]="{
                        'ng-invalid ng-dirty': (postFormControl.category.touched) && postFormControl.category.errors?.required
                    }">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-5">
                <label htmlFor="status">Trạng thái</label>
                <p-dropdown formControlName="status" optionLabel="value" optionValue="key" [autoDisplayFirst]="true" [disabled]="disableStatus"
                    [options]="statuses" [ngClass]="{
                            'ng-invalid ng-dirty': (postFormControl.status.touched) && postFormControl.status.errors?.required
                        }">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-2">
                <label htmlFor="isFeatured">Nổi bật</label>
                <div class="mt-1">
                    <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                </div>
            </div>
            <div class="field col-12 md:col-12">
                <label htmlFor="displayText">Giới thiệu ngắn gọn</label>
                <textarea pInputTextarea [rows]="3" formControlName="displayText" id="displayText" type="text" [ngClass]="{
                        'ng-invalid ng-dirty': (postFormControl.displayText.touched) && postFormControl.displayText.errors?.required
                    }" class="custom-input"></textarea>
            </div>
            <div  class="field col-12"> 
                <label htmlFor="content">Loại nội dung email</label>
                <p-selectButton  formControlName="contentType"  optionValue="value" class="mb-2 mt-2" [options]="htmlMarkdownOptions" optionLabel="name"></p-selectButton>
            </div>
            <div class="field {{ postForm.value.contentType == 'MARKDOWN' ? 'col-6' : 'col-12' }}">
                <label htmlFor="content">Nội dung</label>
                <div *ngIf="postForm.value.contentType == 'MARKDOWN'">
                    <textarea #myTextArea (click)="getCaretPos(myTextArea)" (keyup)="getCaretPos(myTextArea)" pInputTextarea [rows]="11" formControlName="content" id="emailContent"
                        class="custom-input"></textarea>
                    <div style="width: 150px;">
                        <p-button (click)="insertImage()" class="p-button-outlined p-button-info" label="Chèn ảnh"
                            icon="pi pi-image" iconPos="left"></p-button>
                    </div>
                </div>

                <div *ngIf="postForm.value.contentType == 'HTML'">
                    <angular-editor formControlName="content" id="content" class="custom-input"
                        [placeholder]="'Nhập nội dung '" [config]="{height: '15rem', editable: true, sanitize: false }">
                    </angular-editor>
                </div>
            </div>
            <div *ngIf="postForm.value.contentType=='MARKDOWN'"  class=" field col-6 md:col-6 ">
                <label htmlFor=" content">Nội dung xem trước</label>
                <markdown class="border-box" [data]="postForm.value.content">
                </markdown>
            </div>
            <div class="col-6 md:col-6">
                <label htmlFor="mainImg">Ảnh nổi bật</label>
                <div class="grid">
                    <div class="col-3">
                        <div class="img-zone mt-1">

                            <img class="col-12 "  *ngIf="imageFile && formatImage" src="{{baseUrl}}/{{ imageFile }}"  object-fit: cover/>
                            <video class="col-12 "  *ngIf="imageFile && formatVideo"  src="{{baseUrl}}/{{ imageFile }}" controls></video>
                            <!-- <img *ngIf="imageFile" src="{{baseUrl}}/{{ imageFile }}" /> -->
                        </div>
                    </div>
                    <div class="col-9 mt-2">
                        <button (click)="selectImg()" pButton type="button" label="Chọn ảnh"
                            class="p-button-primary mb-1">
                        </button>
                        <p-message *ngIf="!imageFile" severity="error" text="Chưa chọn ảnh đại diện hoặc chưa tải ảnh">
                        </p-message>
                        <p-message *ngIf="imageFile" severity="success" text="Đã chọn ảnh"></p-message>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-dialog-footer" style="width: 100%; position: fixed; left: 0; bottom: 0;">
        <button type="reset" pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text mr-2" (click)="close()"></button>
        <button [disabled]="!postForm.valid || !imageFile" type="submit"  pButton pRipple label="Lưu lại" icon="pi pi-save"></button>
    </div>
</form>