a.btn-template-import {
  border: 1px solid #5346e0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #ffffff;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  width: auto !important;
  border-radius: 8px;
  background: #5346e0;
}
