<app-loading-page *ngIf="isLoadingPage"></app-loading-page>
<div class="card b-page-detail {{ isLoadingPage ? 'b-loading' : '' }}" *ngIf="!isLoadingPage">
    <div class="p-fluid p-formgrid grid b-header">
        <div class="col-12 md:col-7">
            <h5 class="title-info mb-0"> Chi tiết thông tin doanh nghiệp </h5>
        </div>
        <p-toast></p-toast>
        <p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
        <div class="col-12 md:col-5 b-actions">
            <div class="text-right">
                <ng-container>
                    <p-button
                        *ngIf="isGranted([PermissionCoreConst.CoreQLPD_KHDN_PheDuyetOrHuy]) && businessCustomerInfo.status == BusinessCustomerApproveConst.status.CHO_DUYET "
                        styleClass="p-button-sm custom-button" label="Xử lý yêu cầu" icon="pi pi-check"
                        (click)="partnerApprove(businessCustomerInfo)">
                    </p-button>
                </ng-container>
                <ng-container *ngIf="tabActive == 'thongTinChung'">
                    <p-button
                        *ngIf=" isGranted([PermissionCoreConst.CoreDuyetKHDN_TrinhDuyet]) && (businessCustomerInfo.status == this.BusinessCustomerApproveConst.status.KHOI_TAO || businessCustomerInfo.status == BusinessCustomerApproveConst.status.HUY_DUYET)"
                        styleClass="p-button-sm custom-button" label="Trình duyệt" icon="pi pi-arrow-up"
                        (click)="request(businessCustomerInfo)">
                    </p-button>
                    <!--  -->
                    <p-button
                        *ngIf="(businessCustomerInfo.status == BusinessCustomerApproveConst.status.KHOI_TAO || businessCustomerInfo.status == BusinessCustomerApproveConst.status.HUY_DUYET) && isGranted([PermissionCoreConst.CoreDuyetKHDN_CapNhat])"
                        styleClass="p-button-sm custom-button" label="{{ labelButtonEdit }}"
                        icon="pi {{ isEdit ? 'pi-save' : 'pi-pencil' }}" (click)="changeEdit();">
                    </p-button>
                </ng-container>
                <ng-container *ngIf="tabActive == 'cauHinhChuKySo'">
                    <!-- <button *ngIf="actions?.length" class="p-button-sm custom-button" type="button" pButton
                        icon="pi pi-ellipsis-h" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="actions" [appendTo]="body"></p-menu> -->
                    <!--  -->
                    <p-button
                        *ngIf="businessCustomerInfo.status == BusinessCustomerApproveConst.status.KHOI_TAO && isGranted([PermissionCoreConst.CoreDuyetKHDN_CauHinhChuKySo])"
                        styleClass="p-button-sm custom-button" label="{{ labelButtonEdit }}"
                        icon="pi {{ isEdit ? 'pi-save' : 'pi-pencil' }}" (click)="changeEditDigitalSign();">
                    </p-button>
                </ng-container>
                <p-button styleClass="p-button-sm custom-button b-button-back" (click)="this.location.back()"
                    label="Quay lại" icon="pi pi-chevron-left">
                </p-button>
            </div>
        </div>
    </div>
    <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndex" (onChange)="changeTabview($event)">
        <p-tabPanel [header]="'thongTinChung'"
            *ngIf="isGranted([PermissionCoreConst.CoreDuyetKHDN_ThongTinChung]) && activeFirstTabDefault(isGranted([PermissionCoreConst.CoreDuyetKHDN_ThongTinChung]), 'thongTinChung')">
            <ng-template pTemplate="header">
                <span> Thông tin chung </span>
            </ng-template>
            <div *ngIf="isGranted([PermissionCoreConst.CoreDuyetKHDN_ChiTiet])" class="grid detail business-customer">
                <div class="col-12">
                    <div class="card pt-0 pb-0 mb-0 grid">
                        <div class="col-9">
                            <h5 class="mb-2"> Thông tin doanh nghiệp </h5>
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-2">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Mã doanh nghiệp
                                    </label>
                                    <input [disabled]="!isEdit" type="text" id="code" name="code" pInputText
                                        maxlength="10" [(ngModel)]="businessCustomerInfo.code"
                                        [ngClass]="{'ng-invalid ng-dirty' :  fieldErrors?.code} + ' custom-input-disabled'"
                                        (click)="resetValid('code')" />
                                </div>
                                <div class="field col-12 md:col-2">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Mã số thuế </label>
                                    <input [disabled]="!isEdit" type="text" id="taxCode" name="taxCode" pInputText
                                        [(ngModel)]="businessCustomerInfo.taxCode" maxlength="50"
                                        [ngClass]="{'ng-invalid ng-dirty' :  fieldErrors?.taxCode} + ' custom-input-disabled'"
                                        (click)="resetValid('taxCode')" />
                                </div>
                                <div class="field col-12 md:col-2">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Ngày cấp </label>
                                    <p-calendar inputId="licenseDate" dateFormat="dd/mm/yy" locale="vi" appendTo="body"
                                        utc="true" placeholder="dd/mm/yyyy" [disabled]="!isEdit"
                                        [(ngModel)]="businessCustomerInfo.licenseDate"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.licenseDate} + ' custom-input-disabled'"
                                        (click)="resetValid('licenseDate')" [showIcon]="true">
                                    </p-calendar>
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label class="title-info"> Nơi cấp </label>
                                    <input [disabled]="!isEdit" type="text" id="licenseIssuer" name="licenseIssuer"
                                        maxlength="1024" pInputText [(ngModel)]="businessCustomerInfo.licenseIssuer"
                                        [title]="businessCustomerInfo.licenseIssuer"
                                        [ngClass]="{'ng-invalid ng-dirty' :  fieldErrors?.licenseIssuer} + ' custom-input-disabled'"
                                        (click)="resetValid('licenseIssuer')" />
                                </div>

                                <div class="field col-12 md:col-6">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }} "> Tên doanh nghiệp
                                    </label>
                                    <input [disabled]="!isEdit" type="text" id="name" name="name" pInputText
                                        [(ngModel)]="businessCustomerInfo.name" max="200"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.name} + ' custom-input-disabled'"
                                        (click)="resetValid('name')" />
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Tên viết tắt
                                    </label>
                                    <input [disabled]="!isEdit" type="text" id="shortName" name="shortName" pInputText
                                        [(ngModel)]="businessCustomerInfo.shortName" maxlength="100"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.shortName} + ' custom-input-disabled'"
                                        (click)="resetValid('shortName')" />
                                </div>

                                <div class="field col-12 md:col-2">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Số lần thay đổi
                                    </label>
                                    <p-inputNumber type="text" id="numberModified" name="numberModified"
                                        [disabled]="!isEdit" [(ngModel)]="businessCustomerInfo.numberModified"
                                        [ngClass]="{'ng-invalid ng-dirty' :  fieldErrors?.numberModified} + ' custom-input-disabled'"
                                        (click)="resetValid('numberModified')" locale="de-DE">
                                    </p-inputNumber>
                                </div>
                                <div class="field col-12 md:col-2">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Ngày thay
                                        đổi</label>
                                    <p-calendar inputId="dateModified" dateFormat="dd/mm/yy" locale="vi" appendTo="body"
                                        utc="true" placeholder="dd/mm/yyyy" [disabled]="!isEdit"
                                        [(ngModel)]="businessCustomerInfo.dateModified"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.dateModified} + ' custom-input-disabled'"
                                        (click)="resetValid('dateModified')" [showIcon]="true">
                                    </p-calendar>
                                </div>

                                <div class="field col-12 md:col-4">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Vốn điều lệ
                                    </label>
                                    <p-inputNumber id="capital" name="capital" [min]="0" [disabled]="!isEdit"
                                        [(ngModel)]="businessCustomerInfo.capital"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.capital} + ' custom-input-disabled'"
                                        (click)="resetValid('parValue')" locale="de-DE">
                                    </p-inputNumber>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Thư điện tử
                                    </label>
                                    <input [disabled]="!isEdit" type="text" id="email" name="email" pInputText
                                        [(ngModel)]="businessCustomerInfo.email" maxlength="128"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.email} + ' custom-input-disabled'"
                                        (click)="resetValid('email')" />
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Điện thoại </label>
                                    <input [disabled]="!isEdit" type="text" id="phone" name="phone" pInputText
                                        [(ngModel)]="businessCustomerInfo.phone" maxlength="16"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.phone} + ' custom-input-disabled'"
                                        (click)="resetValid('phone')" (keypress)="phoneNumber($event)" />
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Điện thoại khác
                                    </label>
                                    <input [disabled]="!isEdit" type="text" id="mobile" name="mobile" pInputText
                                        [(ngModel)]="businessCustomerInfo.mobile" maxlength="16"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.mobile} + ' custom-input-disabled'"
                                        (click)="resetValid('mobile')" (keypress)="phoneNumber($event)" />
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Website </label>
                                    <input [disabled]="!isEdit" type="text" id="website" name="website" pInputText
                                        [(ngModel)]="businessCustomerInfo.website" maxlength="256"
                                        [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.website} + ' custom-input-disabled'"
                                        (click)="resetValid('website')" />
                                </div>
                            </div>

                        </div>
                        <div class="col-3 text-center mt-3">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12 wrapper-avatar-issuer">
                                    <p-image
                                        [src]="businessCustomerInfo?.avatarImageUrl ? (AppConsts.remoteServiceBaseUrl + '/' + businessCustomerInfo?.avatarImageUrl) : imageDefault"
                                        imageClass="b-w-100"
                                        [imageStyle]="{'border-radius':'8px','max-height':'240px', 'width': '100%'}"
                                        [preview]="true">
                                    </p-image>
                                </div>
                                <div class="col-12">
                                    <p-fileUpload [disabled]="!isEdit" name="demo[]" accept=".png,.jpeg,.jpg"
                                        chooseLabel="Chọn ảnh đại diện" chooseIcon="pi pi-image"
                                        class="custom-file-upload mt-3" [customUpload]="true"
                                        (uploadHandler)="myUploader($event)" [auto]="true">
                                    </p-fileUpload>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card pt-0 pb-0 mb-0">
                        <h5 class="mt-3 mb-2"> Thông tin địa chỉ </h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-5">
                                <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Địa chỉ đăng ký</label>
                                <input [disabled]="!isEdit" type="text" id="address" name="address" pInputText
                                    [(ngModel)]="businessCustomerInfo.address" [title]="businessCustomerInfo.address"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.address} + ' custom-input-disabled'"
                                    (click)="resetValid('address')" maxlength="1024" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label class="title-info {{ isEdit ? 'hightline-title' : '' }}">Quốc gia</label>
                                <p-dropdown [filter]="true" [filterBy]="'name'" optionValue="code" name="nation"
                                    optionLabel="name" [autoDisplayFirst]="true" [disabled]="!isEdit"
                                    [options]="NationalityConst.List" [(ngModel)]="businessCustomerInfo.nation"
                                    [ngClass]="{'ng-invalid ng-dirty' : (submitted && !businessCustomerInfo.nation) || fieldErrors?.nation } + ' custom-input-disabled'"
                                    (click)="resetValid('nation')">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-5">
                                <label class="title-info {{ isEdit ? 'hightline-title' : '' }}">Địa chỉ giao
                                    dịch</label>
                                <input [disabled]="!isEdit" type="text" id="tradingAddress" name="tradingAddress"
                                    pInputText [(ngModel)]="businessCustomerInfo.tradingAddress"
                                    [title]="businessCustomerInfo.tradingAddress"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.tradingAddress} + ' custom-input-disabled'"
                                    (click)="resetValid('tradingAddress')" maxlength="1024">
                            </div>
                        </div>
                    </div>

                    <div class="card pt-0 pb-0 mb-0">
                        <h5 class="mt-3 mb-2"> Thông tin tài khoản </h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Số tài khoản</label>
                                <input [disabled]="true" type="text" id="bankAccNo" name="bankAccNo" pInputText
                                    [value]="businessCustomerInfo?.businessCustomerBank?.bankAccNo" maxlength="11"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.bankAccNo} + ' custom-input-disabled'"
                                    (click)="resetValid('bankAccNo')" (keypress)="numberOnly($event)" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info">Tên tài khoản</label>
                                <input [disabled]="true" type="text" id="bankAccName" name="bankAccName" pInputText
                                    [value]="businessCustomerInfo?.businessCustomerBank?.bankAccName"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.bankAccName} + ' custom-input-disabled'"
                                    (click)="resetValid('bankAccName')" maxlength="512" />
                            </div>

                            <div class="field col-12 md:col-3">
                                <label class="title-info" htmlFor="code">Ngân hàng </label>
                                <input [disabled]="true" type="text" id="bankName" name="bankName" pInputText
                                    [value]="businessCustomerInfo?.businessCustomerBank?.bankName"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.bankName} + ' custom-input-disabled'"
                                    (click)="resetValid('bankName')" />

                            </div>

                            <div class="field col-12 md:col-3">
                                <label class="title-info">Chi nhánh</label>
                                <input [disabled]="true" type="text" id="bankBranchName" name="bankBranchName"
                                    pInputText [value]="businessCustomerInfo?.businessCustomerBank?.bankBranchName"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.bankBranchName} + ' custom-input-disabled'"
                                    (click)="resetValid('bankBranchName')" maxlength="512" />
                            </div>
                        </div>
                    </div>

                    <div class="card pt-0 mb-0">
                        <h5 class="mt-3 mb-2"> Thông tin người đại diện </h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Tên người đại diện
                                </label>
                                <input [disabled]="!isEdit" type="text" id="repName" name="repName" pInputText
                                    [(ngModel)]="businessCustomerInfo.repName" maxlength="256"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.repName} + ' custom-input-disabled'"
                                    (click)="resetValid('repName')" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Chức vụ </label>
                                <input [disabled]="!isEdit" type="text" id="repPosition" name="repPosition" pInputText
                                    [(ngModel)]="businessCustomerInfo.repPosition" maxlength="256"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.repPosition} + ' custom-input-disabled'"
                                    (click)="resetValid('repPosition')" />
                            </div>
                            <div class="field col-12 md:col-3">
                                <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Quyết định số </label>
                                <input [disabled]="!isEdit" type="text" id="decisionNo" name="decisionNo" pInputText
                                    [(ngModel)]="businessCustomerInfo.decisionNo" maxlength="20"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.decisionNo} + ' custom-input-disabled'"
                                    (click)="resetValid('decisionNo')" />
                            </div>
                            <div class="field col-12 md:col-2">
                                <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Ngày quyết định</label>
                                <p-calendar inputId="decisionDate" dateFormat="dd/mm/yy" locale="vi" appendTo="body"
                                    utc="true" placeholder="dd/mm/yyyy" [disabled]="!isEdit"
                                    [(ngModel)]="businessCustomerInfo.decisionDate"
                                    [ngClass]="{'ng-invalid ng-dirty' : fieldErrors?.decisionDate} + ' custom-input-disabled'"
                                    (click)="resetValid('decisionDate')" [showIcon]="true">
                                </p-calendar>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel [header]="'taiKhoanNganHang'"
            *ngIf="isGranted([PermissionCoreConst.CoreDuyetKHDN_TKNH]) && activeFirstTabDefault(isGranted([PermissionCoreConst.CoreDuyetKHDN_TKNH]), 'taiKhoanNganHang')">
            <ng-template pTemplate="header">
                <span> Tài khoản ngân hàng </span>
            </ng-template>
            <app-business-customer-bank-approve [businessCustomerDetail]="businessCustomerInfo"
                *ngIf="tabViewActive.taiKhoanNganHang">
            </app-business-customer-bank-approve>
        </p-tabPanel>
        <p-tabPanel [header]="'giayPhepDKKD'" *ngIf="isGranted([PermissionCoreConst.CoreDuyetKHDN_DKKD]) && businessCustomerInfo.businessCustomerId == null">
            <ng-template pTemplate = "header">
                <i class="pi pi-credit-card mr-2"></i>
                <span>Giấy phép ĐKKD</span>
            </ng-template>
            <app-busi-cus-approve-license-file *ngIf="tabViewActive.giayPhepDKKD" ></app-busi-cus-approve-license-file>     
        </p-tabPanel>
    </p-tabView>
</div>