.border-box {
    border: 1px solid #eee;
    padding: 10px;
    display: block;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
   
}

.border-box img {
    width: 100%;
}

.gallery-media {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100%;
}

.gallery-media:hover {
    border: 1px solid #777;
}

.gallery-media img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 5px;
    text-align: center;
    
}
.remove-img {
    color: red;
    cursor: pointer; 
}
.desc:hover {
    
    background-color: #eee;
}
.gallery-image {
    height: 240px;
    width: 100%;
    background-size: cover !important;
    background-color: #eee !important;
}

.ui-dialog-footer-custom {
    border-radius: 10px !important;
    padding: 0px;
    float: right;
}
.field {
    margin-bottom: 0px;
}
.button-action {
    float: right;
}
.action-list {
    width: 50%; 
    text-align: right
}