
<!-- ConfirmService -->
<p-confirmDialog [style]="{width: 'auto' }" [baseZIndex]="10000"></p-confirmDialog>
<app-loading-page *ngIf="isLoadingPage"></app-loading-page>
<!--  -->
<p-toast></p-toast> 
<div class="grid ml-0 mr-0 mt-0">
    <div class="col-12">
        <div class="card b-list">
            <div class="p-fluid p-formgrid grid b-header">
                <div class="col-12 md:col-7 b-title">
                    <h4 style="display:inline"> Đại lý </h4>
                </div>
                <div class="col-12 md:col-5 b-action">
                    <button *ngIf="isGranted([PermissionCoreConst.CoreDaiLy_ThemMoi])" pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success mr-2" (click)="create()"></button>
                </div>
            </div>
            <p-toast></p-toast> 
            <p-table 
                #tradingProviderTable [value]="rows" 
                [columns]="_selectedColumns"
                [loading]="isLoading" [rowHover]="true" [showCurrentPageReport]="true" [paginator]="false" 
                responsiveLayout="scroll" dataKey="code"
                [scrollable]="true" scrollHeight="{{ (screenHeight*0.65) + 'px' }}" styleClass="custom-table">
                <ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">                     
						<span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input 
                                pInputText type="text" placeholder="Tìm kiếm..." style="min-width: 300px;"
								[(ngModel)]="keyword" (input)="changeKeyword($event)"
                                />
                        </span>
					</div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
					<tr>
						<th style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left">#ID </th>
                        <th *ngFor="let col of columns" [ngStyle]="{'max-width': col?.width, 'min-width': col?.width}" [ngClass]=" col.class " [alignFrozen]="col.alignFrozen" [col.pFrozenColumn]>
                            {{col.header}} 
                        </th> 

                        <th style="max-width: 3rem; min-width: 3rem; justify-content: center;" class="b-border-frozen-right b-table-actions b-border-frozen-left" 
                            pFrozenColumn alignFrozen="right" [frozen]="true">
                            <i class="pi pi-cog" (click)="setColumn(cols, _selectedColumns)"></i>
                        </th>
					</tr>
				</ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        <td style="max-width: 5rem; min-width: 5rem;" pFrozenColumn alignFrozen="left" class="b-border-frozen-left"> {{ row.tradingProviderId }} </td>
                        <td *ngFor="let col of columns" [ngStyle]="{'max-width': col?.width, 'min-width': col?.width}" [ngClass]=" col.class " [alignFrozen]="col.alignFrozen" [col.pFrozenColumn]>
                            <div [ngClass]="col.cutText" [title]="row[col?.field] ?? (row?.businessCustomer ? row.businessCustomer[col?.field] : null)">
                                {{ row[col?.field] ?? (row?.businessCustomer ? row.businessCustomer[col?.field]  : null) }}
                            </div>
                        </td>
                        
                        <td style="max-width: 3rem; min-width: 3rem" pFrozenColumn alignFrozen="right" [frozen]="true" class="b-table-actions b-border-frozen-right b-border-frozen-left">
                            <div class="flex">
                                <i class="pi pi-ellipsis-h"  (click)="menu.toggle($event)"></i>
                                <p-menu 
                                    #menu [popup]="true"class="button-actions"
                                    [model]="listAction[rowIndex]" appendTo="body"
                                    >
                                </p-menu>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">Không có dữ liệu.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="7"> Đang tải dữ liệu ... </td>
					</tr>
				</ng-template>
            </p-table>
            <p-paginator 
                [rows]="page.pageSize" 
                [totalRecords]="page.totalItems" 
                [rowsPerPageOptions]="[25, 50, 100, 200]" 
                currentPageReportTemplate="Tất cả {{ page.totalItems }} dòng" 
                showCurrentPageReport="true"
                (onPageChange)="setPage($event)">
            </p-paginator>
        </div>
		<!-- THEM & SUA-->
        <p-dialog [(visible)]="modalDialog" [style]="{width: '1000px'}" header="Thêm mới đại lý" [modal]="true" class="p-fluid" [maximizable]="true">
            <ng-template pTemplate="content">
                <div class="card pt-0">
                    <div class="grid formgrid">
                        <ng-container>
                            <div class="col-12 md:col-12 title-group-input">
                                <h6> Thông tin khách hàng doanh nghiệp </h6>
                            </div>
    
                            <div class="col-12 md:col-4">
                                <div class="field">
                                    <label htmlFor="taxCode"> Mã số thuế </label>
                                    <input pInputText [disabled]="true" value="{{ businessCustomer?.taxCode }}" class="custom-input-disabled"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-6">
                                <div class="field">
                                    <label htmlFor="licenseIssuer">Nơi cấp</label>
                                    <input [disabled]="true" pInputText value="{{ businessCustomer?.licenseIssuer }}" class="custom-input-disabled"/>
                                </div>
                            </div>

                            <div class="col-12 md:col-2">
                                <label htmlFor="search" class="mb-2"> &nbsp; </label> <br>
                                <div style="vertical-align: -webkit-baseline-middle; margin-top: 6px">
                                    <p-button 
                                        label="Tìm kiếm" icon="pi pi-search" styleClass="mr-2 mb-2" 
                                        (onClick)="filterBusinessCustomer()" class="custom-input-disabled">
                                    </p-button>                                                                                  
                                </div>
                            </div>

                            <div class="col-12 md:col-2">
                                <div class="field">
                                    <label for="licenseDate">Ngày cấp ĐKKD</label>
                                    <input pInputText value="{{ businessCustomer?.licenseDate | dateview }}" [disabled]="true" class="custom-input-disabled"/>
                                </div>
                            </div>

                            <div class="col-12 md:col-2">
                                <div class="field">
                                    <label htmlFor="phone">Điện thoại </label>
                                    <input [disabled]="true" value="{{ businessCustomer?.phone }}" pInputText class="custom-input-disabled"/>
                                </div>
                            </div>
                            
                            <div class="col-12 md:col-8">
                                <div class="field">
                                    <label htmlFor="name">Tên Doanh nghiệp </label>
                                    <input pInputText [disabled]="true" value="{{ businessCustomer?.name }}" class="custom-input-disabled"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <div class="field">
                                    <label htmlFor="shortName">Tên viết tắt</label>
                                    <input [disabled]="true" pInputText value="{{ businessCustomer?.shortName }}" class="custom-input-disabled"/>
                                </div>
                            </div>

                            <div *ngIf="businessCustomer?.allowDuplicate == 'Y'" class="col-12 md:col-4">
                                <div class="field">
                                    <label htmlFor="aliasName">Tên Alias </label>
                                    <input pInputText [(ngModel)]="tradingProvider.aliasName" class="custom-input-disabled"/>
                                </div>
                            </div>

                            <div class="col-12 md:col-4">
                                <div class="field">
                                    <label htmlFor="email">Thư điện tử</label>
                                    <input [disabled]="true" pInputText  value="{{ businessCustomer?.email }}" class="custom-input-disabled"/>
                                </div>
                            </div>

                            <div class="col-12 md:col-4">
                                <div class="field">
                                    <label [disabled]="true" htmlFor="capital">Vốn điều lệ</label>
                                    <input pInputText [disabled]="true" value="{{ utils.transformMoney(businessCustomer?.capital) }}" class="custom-input-disabled"/>
                                </div>
                            </div>

                            <div class="col-12 md:col-12 title-group-input">
                                <h6> Địa chỉ </h6>
                            </div>
                            <div class="col-12 md:col-12">
                                <div class="field">
                                    <label htmlFor="address">Địa chỉ đăng ký</label>
                                    <textarea [disabled]="true" rows="1" value="{{ businessCustomer?.address }}" pInputTextarea class="custom-input-disabled"></textarea>
                                </div>
                            </div>

                            <div class="col-12 md:col-12">
                                <div class="field">
                                    <label htmlFor="tradingAddress">Địa chỉ giao dịch </label>
                                    <textarea 
                                        [disabled]="true" rows="1"
                                        value="{{ businessCustomer?.tradingAddress }}" pInputTextarea
                                        class="custom-input-disabled">
                                    </textarea>
                                </div>
                            </div>
                            
                            <!--  -->
                            <div class="col-12 md:col-12 title-group-input">
                                <h6> Người đại diện </h6>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field">
                                    <label htmlFor="repName">Tên người đại diện</label>
                                    <input [disabled]="true" pInputText value="{{ businessCustomer?.repName }}" class="custom-input-disabled"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field">
                                    <label htmlFor="repPosition">Chức vụ</label>
                                    <input [disabled]="true" pInputText value="{{ businessCustomer?.repPosition }}" class="custom-input-disabled"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field">
                                    <label htmlFor="decisionNo">Quyết định số </label>
                                    <input [disabled]="true" pInputText value="{{ businessCustomer?.decisionNo }}" class="custom-input-disabled"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field">
                                    <label for="decisionDate">Ngày quyết định</label>
                                    <input [disabled]="true" pInputText value="{{ formatDate(businessCustomer?.decisionDate) }}" class="custom-input-disabled"/>
                                </div>
                            </div>

                        </ng-container>
                    </div>
                </div>
                
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" [disabled]="!validForm() || submitted" (click)="save()"></button>
            </ng-template>
        </p-dialog>

		<!-- XOA -->
        <p-dialog [(visible)]="deleteItemDialog" header="Xóa Đại lý" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="tradingProvider">Bạn có chắc chắn xóa Đại lý sơ cấp {{ tradingProvider.name }} ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteItemDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>


