<app-loading-page *ngIf="isLoadingPage"></app-loading-page>
<div class="card b-page-detail {{ isLoadingPage ? 'b-loading' : '' }}" *ngIf="!isLoadingPage">
    <div class="p-fluid p-formgrid grid b-header">
        <div class="col-12 md:col-7">
            <h5 class="title-info mb-0"> Thông tin Sale </h5>
        </div>
        <p-toast></p-toast>
        <p-confirmDialog [style]="{width: 'auto'}" [baseZIndex]="10000"></p-confirmDialog>
        <div class="col-12 md:col-5 b-actions">
            <div class="text-right">
                <ng-container *ngIf="activeIndex == 0">
                    <button *ngIf="actions?.length" class="p-button-sm custom-button" type="button" pButton icon="pi pi-ellipsis-h" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="actions" [appendTo]="body"></p-menu>
                    <!--  -->
                    <p-button 
						*ngIf="isGranted([PermissionCoreConst.CoreSaleActive_CapNhat])"
                        styleClass="p-button-sm custom-button" label="{{ isEdit ? 'Lưu lại' : 'Chỉnh sửa' }}"
                        icon="pi {{ isEdit ? 'pi-save' : 'pi-pencil' }}" (click)="changeEdit()"
                    >
                    </p-button>
                </ng-container>
                <p-button 
                    styleClass="p-button-sm custom-button  b-button-back"
                    [routerLink]="'/sale-manager/sale-active'" label="Quay lại"
                    icon="pi pi-chevron-left">
                </p-button>
            </div>
        </div>
    </div>
    <p-tabView styleClass="custom-tabview" [(activeIndex)]="activeIndex" (onChange)="changeTabview($event)">
        <p-tabPanel *ngIf="isGranted([PermissionCoreConst.CoreSaleActive_ThongTinChung])" [header]="'thongTinChung'">
            <ng-template pTemplate="header">
                <span> Thông tin chung </span>
            </ng-template>
			
            <div *ngIf="isGranted([PermissionCoreConst.CoreSaleActive_ChiTiet])" class="flex flex-column">
				<!-- Sale là khách hàng cá nhân -->
				<div class="grid detail" *ngIf="saleInfo?.investorId">
					<div class="col-12 md:col-9">
						<div class="card pt-0 pb-0 mb-0">
							<!-- THÔNG TIN CHUNG -->
							<!-- DONG 1 -->
							<div class="flex flex-row">
								<!-- AVATAR -->
								<div class="flex-column flex-1">
									<div class="field b-field mb-2 pt-4 p-1">
										<p-image 
											[src]="this.saleInfo.avatar" alt="Image" width="120"  [style]="{'justify-content': 'center', 'max-height': '100%'}" [preview]="true">
                                        </p-image>
									</div>
								</div>
								<!-- 3 DONG BEN CANH -->
								<div class="flex-5">
									<!-- DONG 1.1 -->
									<div class="flex flex-row">
										<div class="flex-2">
											<div class="field b-field mb-2 p-1">
												<label class="title-info" htmlFor="name">
													Họ tên 
												</label>
												<input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification?.fullname }}" />
											</div>
										</div>
										<div class="flex-1">
											<div class="field b-field mb-2 p-1">
												<label class="title-info" htmlFor="code">
                                                    Mã giới thiệu 
                                                </label>
                                                <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.referralCode }}" />
											</div>
										</div>
										<div class="flex-1">
											<div class="field b-field mb-2 p-1">
												<label class="title-info" htmlFor="code">
                                                    Ngày sinh 
                                                </label>
                                                <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification?.dateOfBirth | dateview }}" />
											</div>
										</div>
										<div class="flex-1 b-w-20">
											<div class="field b-field mb-2 p-1">
												<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="sex"> 
                                                    Giới tính 
                                                </label>
                                                <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ InvestorConst.getSexName(saleInfo?.investor?.investorIdentification.sex) }}" />
												<!-- <p-dropdown [disabled]="!isEdit" optionLabel="name" optionValue="code"
													[autoDisplayFirst]="true" styleClass="w-full"
													[options]="InvestorConst.ListSex" value="{{ saleInfo?.investor?.investorIdentification.sex }}">
												</p-dropdown> -->
											</div>
										</div>
									</div>
									<!-- DONG 1.2 -->
									<div class="flex flex-row">
										<div class="flex-1 b-w-20">
											<div class="field b-field mb-2 p-1">
												<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">Loại giấy tờ </label>
												<!-- [autoDisplayFirst]="true" styleClass="w-full" -->
                                                <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification.idType }}" />
												<!-- <p-dropdown [disabled]="!isEdit" optionLabel="name" optionValue="code" 
													[options]="InvestorConst.IdTypes"
													appendTo="body" 
													[autoDisplayFirst]="false" 
													[(ngModel)]="investor?.investorIdentification.idType">
												</p-dropdown> -->
											</div>
										</div>
										<div class="flex-1">
											<div class="field b-field mb-2 p-1">
												<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">
                                                    Số CMND/CCCD 
                                                </label>
                                                <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification.idNo }}" />
												<!-- <input [disabled]="!isEdit" pInputText class="custom-input-disabled" maxlength="50"
													[(ngModel)]="investor.investorIdentification.idNo" /> -->
											</div>
										</div>
										<div class="flex-2">
											<div class="field b-field mb-2 p-1">
												<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">
                                                    Ngày cấp 
                                                </label>
                                                <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification.idDate | dateview }}" />
												<!-- <p-calendar [disabled]="!isEdit" styleClass="w-full" inputId="idDate"
													dateFormat="dd/mm/yy" locale="vi" appendTo="body" utc="true"
													[(ngModel)]="investor.investorIdentification.idDate"
													[showIcon]="true">
												</p-calendar> -->
											</div>
										</div>
										<div class="flex-1">
											<div class="field b-field mb-2 p-1">
												<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">Ngày hết hạn </label>
                                                <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification.idExpiredDate | dateview }}" />
												<!-- <p-calendar [disabled]="!isEdit" styleClass="w-full" inputId="birthDate"
													dateFormat="dd/mm/yy" locale="vi" appendTo="body" utc="true"
													[(ngModel)]="investor.investorIdentification.idExpiredDate"
													[showIcon]="true">
												</p-calendar> -->
											</div>
										</div>
									</div>
									<!-- DONG 1.3 -->
									<div class="flex flex-row">
										<div class="field b-field mb-2 flex-4 p-1 w-full">
											<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">
                                                Nơi cấp 
                                            </label>
                                            <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification.idIssuer }}" />
											<!-- <input [disabled]="!isEdit" pInputText class="w-full custom-input-disabled" maxlength="256"
												[(ngModel)]="investor.investorIdentification.idIssuer" /> -->
										</div>
										<div class="field b-field mb-2 p-1 b-w-20">
											<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">Mã KH </label>
                                            <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.cifCode }}" />
											<!-- <input [disabled]="true" pInputText class="w-full custom-input-disabled" maxlength="256"
												[(ngModel)]="investor.cifCode" /> -->
										</div>
										<div class="field b-field mb-2 p-1 b-w-20">
											<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">
                                                 Quốc tịch
											</label>
                                            <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification?.nationality }}" />
											<!-- <p-dropdown
												class="custom-input-disabled"
												[filter]="true" filterLabel="name"
												[disabled]="!isEdit" optionLabel="name" optionValue="name" 
												[autoDisplayFirst]="false"
												[options]="NatinalityList"
												[(ngModel)]="investor.investorIdentification.nationality">
											</p-dropdown> -->
										</div>
									</div>
								</div>
							</div>
							<!-- DONG 2 -->
							<div class="flex flex-row">
								<div class="field b-field mb-2 w-full flex-1 p-1">
									<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">
                                        Nguyên quán 
                                    </label>
                                    <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification?.placeOfOrigin }}" />
									<!-- <textarea [disabled]="!isEdit" pInputTextarea class="custom-input-disabled w-full" maxlength="512"
										[(ngModel)]="investor.investorIdentification.placeOfOrigin"> </textarea> -->
								</div>
							</div>
							<!-- DONG 3 -->
							<div class="flex flex-row">
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
										<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">
                                            Số điện thoại 
                                        </label>
                                        <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.phone }}" />
									</div>
								</div>
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
										<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">Số điện thoại khác</label>
                                        <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.mobile }}" />
										<!-- <input [disabled]="!isEdit" pInputText class="custom-input-disabled" maxlength="16" [(ngModel)]="investor.mobile" /> -->
									</div>
								</div>
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
										<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="code">
                                            Email 
                                        </label>
                                        <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.email }}" />
										<!-- <input [disabled]="!isEdit" pInputText type="email" maxlength="100" class="custom-input-disabled"
											[(ngModel)]="investor.email" /> -->
									</div>
								</div>
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
										<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" class="" htmlFor="code">Mã số thuế</label>
                                        <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.taxCode }}" />
										<!-- <input [disabled]="!isEdit" pInputText class="custom-input-disabled" maxlength="100"
											[(ngModel)]="investor.taxCode" /> -->
									</div>
								</div>
							</div>
                            <div class="flex flex-row">
								<div class="field b-field mb-2 w-full flex-1 p-1">
									<label class="title-info {{ isEdit ? 'hightline-title' : '' }}" htmlFor="address">
                                        Địa chỉ thường trú 
                                    </label>
                                    <input [disabled]="true" pInputText class="custom-input-disabled" value="{{ saleInfo?.investor?.investorIdentification?.placeOfResidence }}" />
                                    <!-- <textarea [disabled]="!isEdit" pInputTextarea class="custom-input-disabled w-full"
                                        [(ngModel)]="investor.investorIdentification.placeOfResidence"> </textarea> -->
								</div>
							</div>
                            <div class="flex flex-row">
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
										<label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Mã nhân viên </label>
                                        <input 
                                            [disabled]="!isEdit" type="text" id="employeeCode" name="employeeCode" pInputText maxlength="10"
                                            [(ngModel)]="saleInfo.employeeCode"
                                            [ngClass]="{'ng-invalid ng-dirty' :  fieldErrors?.code} + ' custom-input-disabled'"
                                            (click)="resetValid('employeeCode')" 
                                        />
									</div>
								</div>
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
										<label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Loại Sale </label>
                                        <p-dropdown 
                                            id="saleType" [disabled]="!isEdit" class="custom-input-disabled"
                                            [options]="SaleConst.types" optionLabel="name" optionValue="code"
                                            placeholder="Chọn loại sale" [(ngModel)]="saleInfo.saleType"
                                            (onChange)="changeSaleType($event.value)">
                                        </p-dropdown>   
									</div>
								</div>
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
										<label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Phòng ban </label>
                                        <p-dropdown 
                                            id="departmentId" [disabled]="!isEdit" class="custom-input-disabled"
                                            [options]="departments" optionLabel="departmentName" optionValue="departmentId"
                                            [(ngModel)]="saleInfo.departmentId" [autoDisplayFirst]="false" (onChange)="changeDepartment($event.value)">
                                        </p-dropdown>
									</div>
								</div>
				
								<div class="flex-1">
									<div  class="field b-field mb-2 p-1">
                                        <label class="title-info"> Người quản lý</label>
                                        <p-dropdown *ngIf="!saleInfo?.isManagerDepartmentId"
                                            id="saleParentId" [disabled]="!(isEdit && saleInfo.saleType != SaleConst.TYPE_MANAGER)" class="custom-input-disabled"
                                            [options]="managers" optionLabel="fullName" optionValue="saleParentId"
                                            [(ngModel)]="saleInfo.saleParentId" [autoDisplayFirst]="false">
                                        </p-dropdown>
										<input *ngIf="saleInfo?.isManagerDepartmentId" class="custom-input-disabled"
											[disabled]="true" type="text" id="saleManagerName" name="saleManagerName" pInputText 
											[(ngModel)]="saleInfo.saleManagerName"
										/>
									</div>
								</div>
								<!-- <div class="flex-1">
									<div class="field b-field mb-2 p-1">
                                        <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Tài khoản ngân hàng </label>
                                        <p-dropdown 
                                            id="investorBankAccId" [disabled]="!isEdit" class="custom-input-disabled"
                                            [options]="banks" optionLabel="labelName" optionValue="id" [autoDisplayFirst]="false"
                                            [(ngModel)]="saleInfo.investorBankAccId">
                                        </p-dropdown>
									</div>
								</div> -->
							</div>
                            <div class="flex flex-row">
								<div class="flex-1">
									<div class="field b-field mb-2 p-1">
                                        <label> Mã hợp đồng </label>
                                        <input 
                                            id="contractCode" [disabled]="true" class="custom-input-disabled" pInputText
                                            value="{{ saleInfo?.contractCode }}"
										/>
									</div>
								</div>
								<div class="flex-3">
									<div class="field b-field mb-2 p-1">
                                        <label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Tài khoản ngân hàng </label>
                                        <p-dropdown 
                                            id="investorBankAccId" [disabled]="!isEdit" class="custom-input-disabled"
                                            [options]="banks" optionLabel="labelName" optionValue="id" [autoDisplayFirst]="false"
                                            [(ngModel)]="saleInfo.investorBankAccId">
                                        </p-dropdown>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- COT PHAI -->
					<div class="col-12 md:col-3">
						<div>
							<h6>Giấy tờ mặt trước</h6>
							<p-image
                                preview="true"
								class="w-full" imageClass="w-full cursor-pointer image-identification-investor"
								[src]="saleInfo?.investor?.investorIdentification?.idFrontImageUrl | baseapiurl">
							</p-image>
						</div>
						<div>
							<h6> Giấy tờ mặt sau</h6>
							<p-image
                                preview="true" 
								*ngIf="saleInfo?.investor?.investorIdentification?.idType !== 'PASSPORT'"
								[src]="saleInfo?.investor?.investorIdentification?.idBackImageUrl | baseapiurl" class="w-full"
								imageClass="w-full cursor-pointer image-identification-investor">
							</p-image>
						</div>
					</div>


				</div>

				<!-- Sale là khách hàng doanh nghiệp -->
				<div class="grid detail" *ngIf="saleInfo?.businessCustomerId">
					<div class="col-12">
                    <div class="card pt-0 pb-0 mb-0 grid">
                        <div class="col-9">
                            <!-- <h5 class="mb-2"> Thông tin doanh nghiệp </h5> -->
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-3">
                                    <label class="title-info"> Mã số thuế </label>
                                    <input 
										[disabled]="true" type="text" id="taxCode" name="taxCode" pInputText class="custom-input-disabled" 
										value="{{ businessCustomerInfo?.taxCode }}"
									/>
                                </div>

                                <div class="field col-12 md:col-3">
                                    <label class="title-info"> Ngày cấp </label>
									<input [disabled]="true" value="{{ businessCustomerInfo?.licenseDate | dateview }}" pInputText class="custom-input-disabled"/>
                                </div>

                                <div class="field col-12 md:col-6">
                                    <label class="title-info"> Nơi cấp </label>
                                    <input 
										[disabled]="true" type="text" id="licenseIssuer" name="licenseIssuer" pInputText [title]="businessCustomerInfo?.licenseIssuer" class="custom-input-disabled"
                                    	value="{{ businessCustomerInfo?.licenseIssuer }}"
									/>
                                </div>
                                <div class="field col-12 md:col-12">
                                    <label class="title-info"> Tên doanh nghiệp </label>
                                    <input 
                                        [disabled]="true" class="custom-input-disabled"
                                        type="text" id="name" name="name" pInputText 
                                        value="{{ businessCustomerInfo?.name }}" maxlength="200"
                                    />
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label class="title-info"> Tên viết tắt </label>
                                    <input 
                                        [disabled]="true" class="custom-input-disabled"
                                        type="text" id="shortName" name="shortName" pInputText 
                                        value="{{ businessCustomerInfo.shortName }}"
                                    />
                                </div>

                                <div class="field col-12 md:col-3">
                                    <label class="title-info"> Mã khách hàng </label>
                                    <input 
										[disabled]="true" class="custom-input-disabled"
										type="text" id="cifCode" name="cifCode" pInputText 
										value="{{ businessCustomerInfo?.cifCode }}" 
                                	/>
                                </div>
    
                                <div class="field col-12 md:col-3">
                                    <label class="title-info"> <b> Mã giới thiệu </b> </label>
                                    <input
										class="custom-input-disabled" pInputText
                                        [disabled]="true"
                                        value="{{ businessCustomerInfo?.referralCodeSelf }}"
									/>
                                </div>

                                <div class="field col-12 md:col-6">
                                    <label class="title-info"> Thư điện tử </label>
                                    <input 
										[disabled]="true" class="custom-input-disabled"
										type="text" id="email" name="email" pInputText 
										value="{{ businessCustomerInfo.email }}" 
									/>
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label class="title-info"> Điện thoại </label>
                                    <input 
                                        [disabled]="true" class="custom-input-disabled"
                                        type="text" id="phone" name="phone" pInputText 
                                        value="{{ businessCustomerInfo?.phone }}"
                                    />
                                </div>
                                <div class="field col-12 md:col-3">
                                    <label class="title-info"> Điện thoại khác </label>
                                    <input 
                                        [disabled]="true" class="custom-input-disabled"
                                        type="text" id="mobile" name="mobile" pInputText 
                                        value="{{ businessCustomerInfo.mobile }}"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-center mt-4">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12 wrapper-avatar-issuer">
                                    <p-image
                                        [src]="businessCustomerInfo?.avatarImageUrl ? (AppConsts.remoteServiceBaseUrl + '/' + businessCustomerInfo?.avatarImageUrl) : imageDefault" 
                                        imageClass="b-w-100"
                                        [imageStyle]="{'border-radius':'8px','max-height':'240px', 'width': '100%'}" 
                                        [preview]="true">
                                    </p-image>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card pt-0 pb-0 mb-0">
                        <h5 class="mb-2"> Thông tin địa chỉ </h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <label class="title-info"> Địa chỉ đăng ký</label>
                                <input 
                                    [disabled]="true" class="custom-input-disabled"
                                    type="text" id="address" name="address" pInputText
                                    value="{{ businessCustomerInfo?.address }}" [title]="businessCustomerInfo?.address"
                                />
                            </div>
                            
                            <div class="field col-12 md:col-12">
                                <label class="title-info">Địa chỉ giao dịch</label>
                                <input
                                    [disabled]="true" class="custom-input-disabled"
                                    type="text" id="tradingAddress" name="tradingAddress" pInputText 
                                    value="{{ businessCustomerInfo.tradingAddress }}" [title]="businessCustomerInfo.tradingAddress"
                                />
                            </div>
							<div class="field col-12 md:col-12">
								<label class="title-info"> Website </label>
								<input 
									[disabled]="true" class="custom-input-disabled"
									type="text" id="website" name="website" pInputText 
									value="{{ businessCustomerInfo.website }}"
								/>
							</div>
                        </div>
                    </div>

                    <div class="card pt-0 mb-0">
                        <h5 class="mt-1 mb-2"> Thông tin người đại diện </h5>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label class="title-info"> Tên người đại diện </label>
                                <input 
                                    [disabled]="true" class="custom-input-disabled"
                                    type="text" id="repName" na me="repName" pInputText 
                                    value="{{ businessCustomerInfo.repName }}" 
                                />
                            </div>
                                <div class="field col-12 md:col-8">
                                <label class="title-info"> Chức vụ </label>
                                <input 
                                    [disabled]="true" class="custom-input-disabled"
                                    type="text" id="repPosition" name="repPosition" pInputText 
                                    value="{{ businessCustomerInfo.repPosition }}"
                                />
                            </div>
                        </div>
                    </div>
					<div class="card pt-0 pb-0 mb-0">
						<h5 class="mt-1 mb-2"> Thông tin Sale </h5>
						<div class="p-fluid p-formgrid grid">
							<div class="field col-12 md:col-2">
								<label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Mã nhân viên </label>
								<input 
									[disabled]="!isEdit" type="text" id="employeeCode" name="employeeCode" pInputText
									[(ngModel)]="saleInfo.employeeCode"
									[ngClass]="{'ng-invalid ng-dirty' :  fieldErrors?.code} + ' custom-input-disabled'"
									(click)="resetValid('employeeCode')" 
								/>
							</div>
							<div class="field col-12 md:col-2">
								<label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Loại Sale </label>
								<p-dropdown 
									id="saleType" [disabled]="!isEdit" class="custom-input-disabled"
									[options]="SaleConst.types" optionLabel="name" optionValue="code"
									placeholder="Chọn loại sale" [(ngModel)]="saleInfo.saleType"
									(onChange)="changeSaleType($event.value)">
								</p-dropdown>   
							</div>
							<div class="field col-12 md:col-4">
								<label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Phòng ban </label>
								<p-dropdown
									[filter]="true" [filterBy]="'departmentName'"
									id="departmentId" [disabled]="!isEdit" class="custom-input-disabled"
									[options]="departments" optionLabel="departmentName" optionValue="departmentId"
									[(ngModel)]="saleInfo.departmentId" [autoDisplayFirst]="false" (onChange)="changeDepartment($event.value)">
								</p-dropdown>
							</div>
							<div class="field col-12 md:col-4">
								<label class="title-info"> Người quản lý </label>
								<p-dropdown
									[filter]="true" [filterBy]="'fullName'" 
									id="saleParentId" [disabled]="!(isEdit && saleInfo.saleType == SaleConst.TYPE_COLLABORATOR)" class="custom-input-disabled"
									[options]="managers" optionLabel="fullName" optionValue="saleParentId"
									[(ngModel)]="saleInfo.saleParentId" [autoDisplayFirst]="false">
								</p-dropdown>
							</div>
							<div class="field col-12 md:col-2">
								<label class="title-info"> Mã hợp đồng </label>
								<input 
									id="contractCode" [disabled]="true" class="custom-input-disabled"
									value="{{ saleInfo.contractCode }}" pInputText
								/>
							</div>
							<div class="field col-12 md:col-10">
								<label class="title-info {{ isEdit ? 'hightline-title' : '' }}"> Tài khoản ngân hàng </label>
								<p-dropdown 
									id="investorBankAccId" [disabled]="!isEdit" class="custom-input-disabled"
									[options]="banks" optionLabel="labelName" optionValue="id" [autoDisplayFirst]="false"
									[(ngModel)]="saleInfo.businessCustomerBankAccId">
								</p-dropdown>
							</div>
						</div>
					</div>
                </div>
				</div>
			</div>
        </p-tabPanel>
		<p-tabPanel [header]="'hopDongCongTac'" *ngIf="isGranted([PermissionCoreConst.CoreSaleActive_HDCT])">
            <ng-template pTemplate="header">
                <span> Hợp đồng cộng tác </span>
            </ng-template>
			<app-collab-contract *ngIf="tabViewActive.hopDongCongTac"></app-collab-contract>
        </p-tabPanel>
		<p-tabPanel [header]="'lichSu'"  headerStyleClass="padding: 0" >
            <ng-template pTemplate = "header">
                <span> Lịch sử chỉnh sửa </span>
            </ng-template>
            <app-sale-history-update [saleId]="saleId" [departments]="departments" [managers]="managers" *ngIf="tabViewActive.lichSu"></app-sale-history-update>
        </p-tabPanel>
    </p-tabView>
	
</div>