    <div class="login-content">
       <div class="login-content-left col-6" >
        <div class="no-copy-right-center">
            <p class="no-copy-right">
                Bản quyền thuộc EPIC @2022
            </p>
        </div>
        <div class="login-content-left-main">
            <div class="logo">
                <img src="../../assets/layout/images/logo.png" alt="">
            </div>
            <i class="pi pi-arrow-left mb-3"></i>
            <div class="login-title">
                <h2>Quên mật khẩu</h2>
                <p class="login-title-sub mb-4">
                    Vui lòng nhập số điện thoại
                </p>
            </div>
            <div class="login-form">
                    <div class="login-input-wrapper mb-4">
                        <label for="username" class="phone_login">Số điện thoại</label>
                        <input id="username" #username  pInputText  placeholder="Nhập số điện thoại" />
                    </div>
       
                    <div class="buttons">
                        <button class="login-button mb-2" pButton type="button"  label="Tiếp tục" ></button>
                            <button class="help-button" pButton type="button"  label="Cần hỗ trợ? Hotline 19001009">
                                <i class="pi pi-question-circle question-icon"></i>
                            </button>
                </div>
            </div>
        </div>
       </div>
       <div class="login-content-right col-6" >
            <div class="ellipse-img">
                <img src="../../assets/layout/images/Ellipse 757.png" alt="">
            </div>
            <div class="ellipse-blur"></div>
       </div>
    </div>
