<p-dialog [(visible)]="visible" [style]="{ width: '1000px' ,height: '50rem'}" [header]="investorId ? 'Cập nhật khách hàng' : headerCheck()" [modal]="true" class="p-fluid"
	(onHide)="selfClose()" (onShow)="resetForm()">
	<ng-template pTemplate="content" class="">
		<div class="card pt-0">
			<!-- ẢNH -->
			<div id="block-image" class="grid formgrid custom-fixed">
				<div *ngIf="!((investorEkyc | keyvalue).length > 0)" class="col-12">
					<div class="field col-3">
						<label htmlFor="bondPrimaryId">Chọn loại giấy tờ</label>
						<p-dropdown [disabled]="isDisable == true" optionLabel="name" optionValue="code" [autoDisplayFirst]="true"
							[options]="InvestorConst.IdTypes" [(ngModel)]="model.type">
						</p-dropdown>
					</div>
				</div>
				<!-- IMAGE NORMAL -->
				<div *ngIf="!isPassport()" class="col-12 md:col-6">
					<div class="field image-left-custom">
						<h5>Mặt trước</h5>
						<app-investor-image [idInput]="'input-front'" [idImage]="'image-front'"
							[(image)]="model.frontImage" [isDisable]="isDisable">
						</app-investor-image>
					</div>
				</div>

				<div *ngIf="!isPassport()" class="col-12 md:col-6 flex flex-row justify-content-center">
					<div class="field">
						<h5>Mặt sau</h5>
						<app-investor-image [idInput]="'input-back'" [idImage]="'image-back'"
							[(image)]="model.backImage" [isDisable]="isDisable">
						</app-investor-image>
					</div>
				</div>

				<!-- IMAGE PASSPORT -->
				<div *ngIf="isPassport()" class="flex flex-row justify-content-center" style="width: 100%">
					<app-investor-image [idInput]="'input-passport'" [idImage]="'image-passport'"
						[(image)]="model.passportImage" [isDisable]="isDisable" >
					</app-investor-image>
				</div>
				
					<div class="col-12 md:col-4" *ngIf="isInvestorVerified == true">
						<div class="field b-field" >
							<label class="b-hightline-title">Số điện thoại
							<span>
	
								(<span
									class="required-field" > * </span>)
							</span> 
							</label>
							<input *ngIf="investorIdVerified" [disabled]="true" autofocus required pInputText [(ngModel)]="investorVerified.plainPhone" maxlength="25"  (keypress)="numberOnly($event)"
								class="custom-input-disabled" />
						</div>
					</div>
					<div class="col-12 md:col-6" *ngIf="isInvestorVerified == true">
						<div class="field b-field" >
							<label class="b-hightline-title ">Email<span >
								(<span
									class="required-field" > * </span>)
							</span> </label>
							<input *ngIf="investorIdVerified" [disabled]="true" autofocus required pInputText [(ngModel)]="investorVerified.plainEmail" maxlength="100" 
								class="custom-input-disabled" />
						</div>
					</div>

			</div>
			<!-- GIẤY TỜ TUỲ THÂN -->
			<div *ngIf="(investorEkyc | keyvalue).length > 0" class="grid detail block-detail">
				<div class="p-fluid p-formgrid grid">
					<div class="col-12 md:col-12 title-group-input">
						<h5>Giấy tờ tùy thân </h5>
						<hr class="mt-1" />
					</div>
					<div class="col-12 md:col-4">
						<div class="field b-field">
							<label class="b-hightline-title">Mã số </label>
							<input  autofocus required pInputText [(ngModel)]="investorEkyc.idNo" maxlength="50"class="custom-input-disabled" />
						</div>
					</div>
					<div class="col-12 md:col-6">
						<div class="field b-field">
							<label class="">Họ và tên</label>
							<input pInputText [(ngModel)]="investorEkyc.name" autofocus required maxlength="500" class="custom-input-disabled" [pKeyFilter]="KeyFilter.stringOnlyBlockSpecial"/>
						</div>
					</div>
					<div class="col-12 md:col-2" *ngIf="investorId"></div>
					<div class="col-12 md:col-2" *ngIf="!investorId">
						<div class="field b-field">
							<label class="">Nhập mã giới thiệu</label>
							<input pInputText [(ngModel)]="investorEkyc.referralCode" autofocus required maxlength="500" class="custom-input-disabled"/>
						</div>
					</div>
					<div class="col-12 md:col-4">
						<div class="field b-field">
							<label>Giới tính </label>
							<p-dropdown optionLabel="name" optionValue="code" [autoDisplayFirst]="true"
								styleClass="w-full"  autofocus required [options]="InvestorConst.ListSex" [(ngModel)]="investorEkyc.sex">
							</p-dropdown>
						</div>
					</div>
					<div class="col-12 md:col-4">
						<div class="field b-field">
							<label class="b-hightline-title">Ngày sinh </label>
							<p-calendar dateMask autofocus required inputId="closeCellDate" dateFormat="dd/mm/yy" locale="vi" appendTo="body"
								utc="true" [(ngModel)]="investorEkyc.dateOfBirth" [showIcon]="true">
							</p-calendar>
						</div>
					</div>
					<div class="col-12 md:col-4">
						<div class="field">
							<label>Quốc tịch </label>
							<p-dropdown  autofocus required optionLabel="name" optionValue="name" [autoDisplayFirst]="true"
								styleClass="w-full" [options]="NatinalityList" [(ngModel)]="investorEkyc.nationality">
							</p-dropdown>
						</div>
					</div>
					<div class="col-12">
						<div class="field">
							<label>Nguyên quán </label>
							<textarea  autofocus required pInputTextarea [(ngModel)]="investorEkyc.placeOfOrigin" maxlength="512"
								class="custom-input-disabled"></textarea>
						</div>
					</div>
					<div class="col-12">
						<div class="field">
							<label>Địa chỉ thường trú </label>
							<textarea  autofocus required pInputTextarea [(ngModel)]="investorEkyc.placeOfResidence" maxlength="512"
								class="custom-input-disabled"></textarea>
						</div>
					</div>
					<div class="col-12 md:col-4">
						<div class="field b-field">
							<label class="b-hightline-title">Ngày cấp </label>
							<p-calendar dateMask autofocus required inputId="closeCellDate" dateFormat="dd/mm/yy" locale="vi" appendTo="body"
								utc="true" [(ngModel)]="investorEkyc.idIssueDate" [showIcon]="true" > 
							</p-calendar>
						</div>
					</div>
					<div class="col-12 md:col-4">
						<div class="field b-field">
							<label>Ngày hết hạn </label>
							<p-calendar dateMask autofocus required inputId="closeCellDate" dateFormat="dd/mm/yy" locale="vi" appendTo="body"
								utc="true" [(ngModel)]="investorEkyc.idIssueExpDate" [minDate]="minDate" [showIcon]="true">
							</p-calendar>
						</div>
					</div>
					<div class="col-12 md:col-4">
						<div class="field b-field">
							<label class="b-hightline-title">Nơi cấp  (<span
								class="required-field"> * </span>)</label>
							<input  autofocus required pInputText [(ngModel)]="investorEkyc.idIssuer" maxlength="256" class="custom-input-disabled" />
						</div>
					</div>
					<!-- TÀI KHOẢN NGÂN HÀNG -->
					<!-- *ngIf="(!investorId)" -->
					<ng-container *ngIf="!investorId">
						<div class="col-12 md:col-12 title-group-input">
							<h5>Tài khoản ngân hàng </h5>
							<hr class="mt-1" />
						</div>
						<!-- [options]="listBank" -->
						<div class="col-12 md:col-6">
							<div class="field b-field">
								<label class="b-hightline-title">Ngân hàng </label>
								<p-dropdown (onChange)="changeBankId($event.value)" optionLabel="labelName" optionValue="bankId" [autoDisplayFirst]="false"
									[filter]="true" filterBy="bankName"  appendTo="body" placeholder="Chọn ngân hàng"
									styleClass="w-full" [options]="banks" [(ngModel)]="investorEkyc.bankId">
								</p-dropdown>
							</div>
						</div>
						<div class="col-12 md:col-3">
							<div class="field b-field">
								<label class="b-hightline-title">Số tài khoản (<span
									class="required-field"> * </span>)</label>
								<input  autofocus required pInputText [(ngModel)]="investorEkyc.bankAccount" maxlength="25"  (keypress)="numberOnly($event)"
									class="custom-input-disabled" (keyup)="changeKeyword($event)"/>
							</div>
						</div>
						<div class="col-12 md:col-3">
							<div class="field b-field" *ngIf="!isLoadingBank">
								<label class="b-hightline-title ">Chủ tài khoản (<span
									class="required-field"> * </span>)</label>
								<input  autofocus required pInputText [(ngModel)]="investorEkyc.ownerAccount" maxlength="100" style="text-transform: uppercase"
									class="custom-input-disabled" [pKeyFilter]="KeyFilter.stringOnlyBlockSpecial"/>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="!investorId">
						<div class="col-12 md:col-12 title-group-input">
							<h5>Liên lạc </h5>
							<hr class="mt-1" />
						</div>
	
						<div class="col-12 md:col-4">
							<div class="field b-field" >
								<label class="b-hightline-title">Số điện thoại 
								<span *ngIf="isFeatured != true">

									(<span
										class="required-field" > * </span>)
								</span> 
								</label>
								<input *ngIf="!investorIdVerified" [disabled]="isFeatured == true" autofocus required pInputText [(ngModel)]="investorEkyc.phone" maxlength="25"  (keypress)="numberOnly($event)"
									class="custom-input-disabled" />
								<input *ngIf="investorIdVerified" [disabled]="true" autofocus required pInputText [(ngModel)]="investorVerified.plainPhone" maxlength="25"  (keypress)="numberOnly($event)"
									class="custom-input-disabled" />
							</div>
						</div>
						<div class="col-12 md:col-8">
							<div class="field b-field" >
								<label class="b-hightline-title ">Email <span *ngIf="isFeatured != true">
									(<span
										class="required-field" > * </span>)
								</span> </label>
								
								<input *ngIf="!investorIdVerified" [disabled]="isFeatured == true" autofocus required pInputText [(ngModel)]="investorEkyc.email" maxlength="100" 
									class="custom-input-disabled" />
								<input *ngIf="investorIdVerified" [disabled]="true" autofocus required pInputText [(ngModel)]="investorVerified.plainEmail" maxlength="100" 
									class="custom-input-disabled" />
							</div>
						</div>
						
					</ng-container>
					<ng-container *ngIf="(!investorId) && investorIdVerified == null">
						<div class="col-12 md:col-2 title-group-input pb-0">
							<h5>Người đại diện </h5>
						</div>
						<div class="col-12 md:col-10 pb-0">
							<div class="mt-1">
								<p-inputSwitch [(ngModel)]="isFeatured"></p-inputSwitch>
							</div>
						</div>
						<div class="col-12 md:col-2 md:col-12 pt-0 title-group-input">
							<hr class="mt-1 mb-0" />
						</div>
						<div class="col-12 md:col-4">
							<div class="field b-field">
								<label class="b-hightline-title">Số điện thoại 
									<span *ngIf="isFeatured == true">
										(<span
											class="required-field" > * </span>)
									</span> 
								</label>
								<input [disabled]="isFeatured != true" autofocus required pInputText [(ngModel)]="investorEkyc.representativePhone" maxlength="25"  (keypress)="numberOnly($event)"
									class="custom-input-disabled" />
							</div>
						</div>
						<div class="col-12 md:col-8">
							<div class="field b-field">
								<label class="b-hightline-title ">Email 
									<span *ngIf="isFeatured == true">
										(<span
											class="required-field" > * </span>)
									</span> 
								</label>
								<input [disabled]="isFeatured != true" autofocus required pInputText [(ngModel)]="investorEkyc.representativeEmail" maxlength="100" 
									class="custom-input-disabled" />
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="footer">
		<p-progressBar *ngIf="isSend" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
		<button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text" (click)="selfClose()" [disabled]="isLoading"></button>
		<button 
			*ngIf="(investorEkyc | keyvalue).length > 0" pButton pRipple label="Làm lại" icon="pi pi-undo"
			class="p-button-text" (click)="undo()" [disabled]="isLoading">
		</button>
		<button 
			pButton pRipple [label]="saveLabel()" icon="pi pi-check" class="p-button-text" [disabled]="submitted"
			(click)="onSave()" [disabled]="isLoading">
		</button>
	</ng-template>
</p-dialog>
