<div class="ui-dialog-content-custom"> 
    <p-messages severity="info">
        <ng-template pTemplate> 
            <div class="ml-2">Bấm Choose để chọn và tải file lên.</div>
        </ng-template>
    </p-messages>
    <p-fileUpload auto="true" name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple"
        accept=".jpg, .png, .jpeg, .tiff, .pdf, .ai, .svg, .mp4, .mov" maxFileSize="99999999999">
        <ng-template pTemplate="content" let-files>
        </ng-template>
        <ng-template let-file pTemplate="file">
        </ng-template>
        <ng-template pTemplate="content">
            <p-progressBar *ngIf="isUploading" mode="indeterminate"></p-progressBar>
            <div *ngFor="let image of uploadedFiles" class="gallery">
                <div class="gallery-image" style="background: url({{baseUrl}}/{{image.data}});">

                </div>
                <div class="desc" (click)="removeFile(image)">
                    <i class="remove-img pi pi-trash"></i>
                </div>
            </div>
        </ng-template>
    </p-fileUpload>
</div>
<div class="ui-dialog-footer-custom mt-2"> 
    <button class="mr-2 p-button-secondary" pButton iconPos="left" label="Hủy" icon="pi pi-times" (click)="hideDialog()"></button>
    <button class="p-button-success" pButton iconPos="left" label="Hoàn thành" icon="pi pi-check" (click)="save()"></button>
</div>